.card
{
	width: 160px;
	height: 300px;
	border-radius: 10px;
	background-color: #37474f;
	border : solid black;
	position : relative;
}

.id
{
	margin: 0;
	position: absolute;
	top: 5%;
	left: 10%;
	font-size: 50px;
}

.suit
{
	margin: 0;
	position: absolute;
	top: 55%;
	left: 37%;
}

.unknown
{
	margin: 0;
	position: absolute;
	top : 25%;
	left : 35%;
	font-size : 80px;
}